@import 'variables';
@import '../fonts/stylesheet.css';

* {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog.scss';
@import 'blocks/reviev';
@import 'blocks/footer.scss';
@import 'blocks/modal';